{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icon z.png' %}" />
    <title>ZOOM RENAL CAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
</head>
<body id="si">
    <style>
        #si{
            margin: 0;
   padding: 0;
   box-sizing: border-box;
        }
    </style>
  <script>
    $(document).ready(function(){
            $("#passwd2").blur(function(){
              func();
            });
        });
  function func(){
    const pass1=document.getElementById("passwd1").value;
    const pass2=document.getElementById("passwd2").value;
    if (pass1 != pass2){
      alert("password and confirm password should be same");
    }
    else{
      if (pass1.length <= 5){
        alert("password should have minimum 6 elements")
      }
    }
  }
</script>
     <!-- navbar -->

        
     <div class="container-flex">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top  scrolled" id="nav">
            <img width="50px" src="{% static 'images/icon z.png'%}" alt="images">
            <a class="navbar-brand" href="#"><b>ZOOM CAR</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'reg' %}">Signup</a>
                      </li>
                      
                      
                      
                      
                    </ul>
                </div>
        </nav>
    </div>
<!-- <nav ends -->
    <style>
    .space{
        width: 100%;
        height: 1000px;
        background-image: url( "{% static 'images/signup 1.jpg' %}");
        /* background-attachment: fixed; */
        background-size:cover;
        /* position:relative; */
    
    }
    </style>
<section id="signup">
    <div class="container-fluid">
        <div class="row space justify-content-center pt-5 ">
            <div class="col-md-4">
                <form action="" method="POST" style="border:1px  black border-spacing=15px">
                  {% csrf_token %}
                    <div class="container mt-3">
                    <label for="first_name"><b>First Name</b></label>
                      <input  type="text" placeholder="EnterFirst Name" name="first_name" required ><br><br>

                      <label for="last_name"><b>Last Name</b></label>
                      <input  type="text" placeholder="Enter Last Name" name="last_name" required ><br><br>
                     <div class="form-group">
                               <p id="result" style="color:red;"></p>
                          </div>
                      <label for="username"><b>Username</b></label>
                      <input type="text" placeholder="Enter Username" name="username"  id="username" onkeyup="checkuser()" required><br><br>
                  
                      <label for="email"><b>Email</b></label>
                      <input type="email" placeholder="Enter Email" name="email" required><br><br>

                      <label for="phn_number"><b>Phone Number</b></label>
                      <input type="text" name="phn_number" placeholder="888 888 8888" >
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" required id="passwd1"><br><br>
                  
                      <label for="psw-repeat"><b>Repeat Password</b></label>
                      <input type="password" placeholder="Repeat Password" name="psw-repeat" required id="passwd2"><br><br>
                      

                      <div class="form-group">
                        <label for="">User Type</label>
                        <select name="utype" class="form-control">
                          <option value="cust">I am Customer</option>
                          <option value="employee">I am Employee</option>
                        </select>
                        
                      </div>
                      
                      <div class="clearfix"></div>
                        <button type="submit" id="submitbtn" class="signupbtn btn btn-info" >Sign Up</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    
</section>
<script>
  function checkuser(){
    let un=document.getElementById("username").value;
    $.ajax({
      url:"{% url 'check_user' %}",
      type:"get",
      data:{usern:un},
      success:function(data){
        if(data=="Exists"){
           $("#result").html("This Username Is Already Taken");
          //  Button Disabled
           $("#submitbtn").attr("disabled","disabled");
      }else{
        $("#result").html("")
        $("#submitbtn").removeAttr("disabled");
      }
    }
    })
   
  }
</script>

</body>
</html>